html,body{
	height:100%;
}

.iframshow{
	padding:0 10 0 10px;
}

.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.chatboxbtn{
	margin: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.chatbox-other{
	margin: 10px auto 0;
	text-align: center;
	color: #ffffff;
}

.chatbox-other a{
	text-decoration: none;
}

.othertitle{
	font-weight: 21pt;
}

.other-btn{
	margin-right: 5px;
	margin-bottom: 10px;
}

.btn-register2{
	background:#ffc108;
	color: white !important;
    font-size: 1rem !important;
    font-family: Setofont !important;
    border-radius: 50px !important;
    padding: 6px 15px !important;
    border: solid 1.5px white !important;
    display: inline-block !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-register2:hover {
    color: white !important;
    background: rgba(255, 161, 8, 0.8) !important;
  }